<div id="homeContainer">
    <h3>You can <span class="rose">Cut Copy Record</span> via App</h3>
 
    <div class="d-flex justify-content-end">
        <div id="homeNavigator">
            <P>Are you looking for  <br style="padding-left: 10px;"> login or register  </P>
           

            <div class="d-flex  justify-content-around">
                <a href="#!/loginpage" ><button type="button" class=" homeButton">login</button></a>
                 <a href="#!/registerpage" ><button type="button" class=" homeButton">register</button></a>
            </div>
        </div>
    </div>
</div>